@font-face {
    font-family: 'Bohemian-typewriter';
    src:  url('Bohemian-typewriter.ttf.woff') format('woff'),
    url('Bohemian-typewriter.ttf.svg#Bohemian-typewriter') format('svg'),
    url('Bohemian-typewriter.ttf.eot'),
    url('Bohemian-typewriter.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 42px;
}

body, .reveal {
    font-family: 'Bohemian-typewriter';
}


.reveal .slides > section.left
{
    width: 50%
}

.reveal .slides > section.small
{
    font-size: 0.7rem;
}
