@font-face {
    font-family: 'Bohemian-typewriter';
    src:  url('Bohemian-typewriter.ttf.woff') format('woff'),
    url('Bohemian-typewriter.ttf.svg#Bohemian-typewriter') format('svg'),
    url('Bohemian-typewriter.ttf.eot'),
    url('Bohemian-typewriter.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 48px;
}

body, .reveal {
    font-family: 'Bohemian-typewriter', serif;
    font-size: inherit;
}


.reveal .slides > section.left
{
    width: 50%;
}

.reveal .small
{
    font-size: 0.8rem;
}

.container
{
    display: flex;
}

ul.inline
{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.inline li
{
    display: inline-block;
}

.col
{
    flex: 1;
    padding-left: 1ex;
    padding-right: 1ex;
}

.reveal .slides > section.slim
{
    width: 25%;
}

.reveal .slides > section.slimish
{
    width: 30%;
}

.reveal .slides > section.leftish
{
    width: 40%;
}


.no-border
{
    border: none !important;
    box-shadow: none !important;
}

.no-border-small
{
    margin: 0px 0px !important;
    border: none !important;
    box-shadow: none !important;
    max-height: 75% !important;
    max-width: 75% !important;
}
